#list {
    font-size: 64;
    display: inline-block;
}


#decomposition {
    display: inline-block;
    vertical-align: top;
margin: 32px;
}

#wrap {
    display: inline-block;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    width: 600px;
}

table td, table td *  {
    vertical-align: top;
}

#character {
    font-size: 300;
    display: inline-block;
    vertical-align: top;
margin: 32px;
}

#meaning {
    font-size: 32
}
